astroid==2.11.4
colorama==0.4.4
dill==0.3.4
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
ordered-set==4.1.0
platformdirs==2.5.2
prettytable==3.2.0
PyLaTeX==1.4.1
pylint==2.13.8
PySimpleGUI==4.59.0
tk==0.1.0
tomli==2.0.1
typing_extensions==4.2.0
wcwidth==0.2.5
wrapt==1.14.1
